Source: pelion-base-devmode
Section: metapackages
Priority: optional
Maintainer: Olha Kulyk <olha.kulyk@globallogic.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://www.pelion.com

Package: pelion-base-devmode
Architecture: all
Depends: mbed-edge-core-devmode, maestro, maestro-shell, edge-proxy, global-node-modules
Description: base package group in developer mode
 Combine mbed-edge-core-devmode, maestro, maestro-shell, edge-proxy, global-node-modules
