Source: maestro-shell
Section: utils
Priority: optional
Maintainer: Vasily Smirnov <vasilii.smirnov@globallogic.com>
Build-Depends: debhelper (>=11~), pe-golang:native, python:native | python3:native, libc6, libunwind-dev
Standards-Version: 3.9.6
Homepage: https://www.pelion.com

Package: maestro-shell
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: shell interface to maestro on gateway
 An interactive shell for controlling maestro locally on deviceOS.
