Source: maestro-shell
Section: utils
Priority: optional
Maintainer: Vasily Smirnov <vasilii.smirnov@globallogic.com>
Build-Depends: debhelper (>=9), pe-golang, python | python3, libc6
Standards-Version: 3.9.6
Homepage: https://www.pelion.com

Package: maestro-shell
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: shell interface to maestro on gateway
 An interactive shell for controlling maestro locally on deviceOS.
