#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@

override_dh_auto_build:
	./debian/auto_build

override_dh_auto_clean:
	-rm -rf go-workspace

override_dh_makeshlibs:
	dh_makeshlibs --no-scripts

override_dh_installinit:
	dh_installinit --no-scripts

override_dh_auto_install:
	dh_auto_install
	install -D -m 755 debian/maestro-shell.sh $(CURDIR)/debian/maestro-shell/usr/bin/maestro-shell

override_dh_shlibdeps:
#override and skip shared libs
