#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

FILES := $(wildcard *)

PACKAGE = github.com/armPelionEdge/maestro-shell
GOPKGDIR = go-workspace/src/"$(PACKAGE)"

export CGO_ENABLED = 1
export GOPATH = $(shell pwd)/go-workspace

export CC = $(DEB_HOST_GNU_TYPE)-gcc
export CXX = $(DEB_HOST_GNU_TYPE)-g++
export PKG_CONFIG = $(DEB_HOST_GNU_TYPE)-pkg-config

%:
	dh $@

override_dh_auto_build:
	mkdir -p "$(GOPKGDIR)"
	cp -r $(FILES) "$(GOPKGDIR)"/
	eval `debian/goenv.guess $(DEB_HOST_ARCH)` && \
	go build -v "$(PACKAGE)"

override_dh_auto_clean:
	-rm -rf go-workspace
	-rm -f maestro-shell
