#!/usr/bin/make -f

FILES := $(wildcard *)

PACKAGE = github.com/armPelionEdge/devicedb
GOPKGDIR = go-workspace/src/"$(PACKAGE)"

%:
	dh $@

override_dh_auto_build:
	mkdir -p $(GOPKGDIR)
	cp -r $(FILES) $(GOPKGDIR)/
	GOPATH=`pwd`/go-workspace go install $(PACKAGE)

override_dh_auto_clean:
	-rm -rf go-workspace
