#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE = 1

export CC=${DEB_HOST_GNU_TYPE}-gcc
export CXX=${DEB_HOST_GNU_TYPE}-g++
export PKG_CONFIG=${DEB_HOST_GNU_TYPE}-pkg-config

%:
	dh $@ --with systemd

override_dh_auto_build:
	TOOLCHAIN=${DEB_HOST_GNU_TYPE} ./deps/install-deps.sh

	make clean
	make deviceOSWD-dummy
	cp deviceOSWD deviceOSWD_dummy

	make clean
	make deviceOSWD-dummy-debug
	cp deviceOSWD deviceOSWD_dummy_debug

	make clean
	make deviceOSWD-a10-debug
	cp deviceOSWD deviceOSWD_a10_debug

	make clean
	make deviceOSWD-a10

	make clean
	make deviceOSWD-a10-relay
	cp deviceOSWD deviceOSWD_a10_relay

	make clean
	make deviceOSWD-a10-tiny841
	cp deviceOSWD deviceOSWD_a10_tiny841

	make clean
	make deviceOSWD-rpi-3bplus
	cp deviceOSWD deviceOSWD_rpi_3bplus

override_dh_installinit:
	dh_installinit --name=deviceOS-watchdog deviceOS-watchdog.init

override_dh_systemd_enable:
	dh_systemd_enable --name=deviceos-wd deviceos-wd.service

override_dh_systemd_start:
	dh_systemd_start --name=deviceos-wd deviceos-wd.service
