Source: pe-golang-bin
Section: devel
Priority: optional
Maintainer: Krzysztof Bembnista <krzysztof.bembnista@globallogic.com>
Build-Depends: debhelper (>=9), wget
Standards-Version: 4.5.0.3

Package: pe-golang-bin
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}, ${perl:Depends}
Provides: pe-golang
Conflicts: golang-virtual
Description: Go compiler, assembler, linker, compiled stdlib
 The Go programming language is an open source project to make programmers more
 productive. Go is expressive, concise, clean, and efficient. Its concurrency
 mechanisms make it easy to write programs that get the most out of multicore
 and networked machines, while its novel type system enables flexible and
 modular program construction. Go compiles quickly to machine code yet has the
 convenience of garbage collection and the power of run-time reflection. It's a
 fast, statically typed, compiled language that feels like a dynamically typed,
 interpreted language.
 .
 This package provides an assembler, compiler, linker, and compiled libraries
 for the Go programming language.
 .
 To use this version, instead of the default one provided by golang-go package,
 add /usr/lib/pe-golang/bin/ to PATH, or invoke /usr/lib/pe-golang/bin/go directly.

