Source: pe-golang-bin
Section: devel
Priority: optional
Maintainer: Krzysztof Bembnista <krzysztof.bembnista@globallogic.com>
Build-Depends: debhelper (>=11~), wget
Standards-Version: 4.5.0.3

Package: pe-golang-bin
Architecture: amd64
Depends:
Provides: pe-golang
Conflicts: golang-virtual
Description: Go compiler required for Pelion Edge compilation.
