Source: mbed-devicejs-bridge
Section: javascript
Priority: optional
Maintainer: Olha Kulyk <olha.kulyk@globallogic.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://www.pelion.com

Package: mbed-devicejs-bridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bash (>=4.0), pe-nodejs
Description: bridge interface from devicejs to edge-core
 Bridging software, which exposes devices in deviceJS to mbed, and vice versa.
 The mbed-devicejs-bridge software should be installed on all Arm mbed branded
 gateways.
