Source: kubelet
Section: utils
Priority: optional
Maintainer: Vasily Smirnov <vasilii.smirnov@globallogic.com>
Build-Depends: debhelper (>=9), pe-golang:native, libc6
Standards-Version: 3.9.6
Homepage: https://www.pelion.com

Package: kubelet
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, conntrack, docker.io | docker-ce, ebtables, ethtool, iproute2, iptables (>=1.4.21), mount, socat, containernetworking-plugins, edge-proxy, pe-utils
Description: talks to kubernetes service
 Repository https://github.com/armPelionEdge/edge-kubelet
