Source: mbed-fcc
Section: devel
Priority: optional
Maintainer: Olha Kulyk <olha.kulyk@globallogic.com>
Build-Depends: debhelper (>=9), cmake (>=3.5), python:native, python-click:native, python-requests:native, libc6-dev, libstdc++6
Standards-Version: 3.9.6
Homepage: https://www.pelion.com

Package: mbed-fcc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: factory Configurator Client example
 Factory client tool for preparing for registration
