[Unit]
Description=Mbed FCC
After=systemd-networkd-wait-online.service

[Service]
ExecStart=/usr/bin/launch-fcc.sh

[Install]
RequiredBy=network.target
