[Unit]
Description=Mbed FCC
After=network-online.target

[Service]
ExecStart=/usr/bin/launch-fcc.sh
EnvironmentFile=-/etc/default/mbed-fcc

[Install]
WantedBy=multi-user.target
