[Unit]
Description=Maestro: Network, Config, DeviceJS manager
After=wait-for-pelion-identity.service edge-proxy.service

[Service]
Restart=always
RestartSec=5s
Environment="LD_LIBRARY_PATH=/usr/lib/pelion"
ExecStart=/usr/bin/maestro -config /etc/pelion/pelion-base-config.yaml
StandardOutput=tty

[Install]
RequiredBy=network.target
