[Unit]
Description=Maestro: Network, Config, DeviceJS manager

[Service]
Restart=always
RestartSec=5s
ExecStart=/usr/bin/maestro -config /etc/pelion/pelion-base-config.yaml

[Install]
RequiredBy=network.target
