#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@

override_dh_auto_build:
	./debian/auto_build

override_dh_auto_clean:
	-rm -rf go-workspace

override_dh_installlogrotate:
	dh_installlogrotate --name=maestro-runtime maestro-runtime.logrotate
