Source: pelion-edge
Section: metapackages
Priority: optional
Maintainer: Olha Kulyk <olha.kulyk@globallogic.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://www.pelion.com

Package: pelion-edge
Architecture: all
Depends: pelion-edge-base, mbed-edge-core, pelion-edge-container-orchestration, mbed-fcc
Description: Pelion Edge full package set
 Combine pelion base packages and pelion container orchestration packages.
