Source: pelion-protocol-engine
Section: metapackages
Priority: optional
Maintainer: Olha Kulyk <olha.kulyk@globallogic.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://www.pelion.com

Package: pelion-protocol-engine
Architecture: all
Depends: devicejs-ng, global-node-modules, mbed-devicejs-bridge, mbed-edge-examples, fog-core
Description: protocol-engine package group
 Combine devicejs-ng, global-node-modules, mbed-devicejs-bridge,
 mbed-edge-examples, fog-core
