[Unit]
Description=Edge Core
After=network-online.target

[Service]
Restart=always
RestartSec=5s
WorkingDirectory=/var/lib/pelion/mbed
ExecStart=/usr/bin/launch-edge-core.sh

[Install]
WantedBy=multi-user.target
