#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE = 1
#
ARGS_A=--builddirectory=build-factory/
ARGS_B=--builddirectory=build-devmode/
%:
	dh $@ $(ARGS_B) --with systemd
	dh $@ $(ARGS_A) --with systemd

override_dh_auto_configure:
	echo "RUNNING AUTOCONF"
	dh_auto_configure $(ARGS_A) -- -DFACTORY_MODE=ON -DFIRMWARE_UPDATE=ON -DNETWORK_PROXY_SUPPORT=ON
	dh_auto_configure $(ARGS_B) -- -DDEVELOPER_MODE=ON -DFIRMWARE_UPDATE=ON -DCMAKE_BUILD_TYPE=RelWithDebInfo -DTRACE_LEVEL=WARN -DMBED_CLOUD_DEV_UPDATE_ID=ON -DNETWORK_PROXY_SUPPORT=ON

override_dh_auto_build:
	dh_auto_build $(ARGS_A)
	dh_auto_build $(ARGS_B)

override_dh_clean:
	rm -rf build-*/*

	find . -name '-I' -exec rm -rf {} +

	if [ -f compilation_info.txt ]; then \
		rm -rf compilation_info.txt;     \
	fi

	if [ -f config/edge_version_info.h ]; then \
		rm -f config/edge_version_info.h;      \
	fi

	dh_clean

override_dh_auto_install:
	echo Not needed in our case

override_dh_installlogrotate:
	dh_installlogrotate --name=mbed-edge-core-devmode edge-core.logrotate

override_dh_systemd_enable:
	dh_systemd_enable --name=mbed-edge-core-devmode edge-core.service
