Source: pelion-base
Section: metapackages
Priority: optional
Maintainer: Olha Kulyk <olha.kulyk@globallogic.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://www.pelion.com

Package: pelion-base
Architecture: all
Depends: mbed-edge-core, maestro, maestro-shell, devicedb, fog-proxy
Description: base package group
 Combine mbed-edge-core, maestro, maestro-shell, devicedb, fog-proxy
