[Unit]
Description=Kubelet
PartOf=pelion.service
After=pelion.service
After=edge-proxy.service
After=docker.service

[Service]
Restart=always
RestartSec=5s
ExecStart=/usr/bin/launch-kubelet.sh

[Install]
WantedBy=pelion.service
