Source: devicedb
Section: database
Priority: optional
Maintainer: Vasily Smirnov <vasilii.smirnov@globallogic.com>
Build-Depends: debhelper (>=9), pe-golang, libc6
Standards-Version: 3.9.6
Homepage: https://www.pelion.com

Package: devicedb
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: key-value store for Pelion Edge
 DeviceDB is a key value store that runs both on IoT gateways and in the cloud
 to allow configuration and state data to be easily shared between applications
 running in the cloud and applications running on the gateway.
