[Unit]
Description=DeviceDB: Remote database manager for Maestro
Requires=edge-proxy.service
After=maestro.service edge-proxy.service

[Service]
Restart=always
RestartSec=5s
Environment="LD_LIBRARY_PATH=/usr/lib/pelion"
ExecStart=/usr/bin/devicedb start -conf /etc/pelion/devicedb.yaml
Type=simple

[Install]
WantedBy=multi-user.target
