Source: devicejs-ng
Section: javascript
Priority: optional
Maintainer: Olha Kulyk <olha.kulyk@globallogic.com>
Build-Depends: debhelper (>=9), libstdc++6,
 nodejs:native (=8.11.4-1nodesource1), python:native (>=2.7)
Standards-Version: 3.9.6
Homepage: https://www.pelion.com

Package: devicejs-ng
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bash (>=4.0), pe-nodejs
Description: message bus (nodejs)
 Provides a uniform interface between applications running on edge gateways and
 devices connected to them.
