Source: devicejs-ng
Section: javascript
Priority: optional
Maintainer: Olha Kulyk <olha.kulyk@globallogic.com>
Build-Depends: debhelper (>=9), nodejs:native, libssl1.0-dev, libstdc++6, npm:native, node-gyp:native
Standards-Version: 3.9.6
Homepage: https://www.pelion.com

Package: devicejs-ng
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bash (>=4.0), nodejs
Description: message bus (nodejs)
 Provides a uniform interface between applications running on edge gateways and
 devices connected to them.
