#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE = 1

export CC=${DEB_HOST_GNU_TYPE}-gcc
export CXX=${DEB_HOST_GNU_TYPE}-g++
export PKG_CONFIG=${DEB_HOST_GNU_TYPE}-pkg-config

%:
	dh $@

override_dh_auto_build:
	./debian/npm_arch_rebuild.sh ${DEB_HOST_ARCH}
