[Unit]
Description=Wait for a connection to Pelion and create credentials
After=edge-core.service
Wants=edge-core.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/bash -c "PATH=/usr/lib/pelion/developer_identity:$PATH exec /usr/lib/pelion/launch-wait-for-pelion-identity.sh 9101 /var/lib/pelion/edge_gw_config"

[Install]
WantedBy=multi-user.target
