Source: rallypointwatchdogs
Section: utils
Priority: optional
Maintainer: Vasily Smirnov <vasilii.smirnov@globallogic.com>
Build-Depends: debhelper (>=9), golang-1.14-go:native (>=1.14.4), libc6
Standards-Version: 3.9.6
Homepage: https://www.pelion.com

Package: rallypointwatchdogs
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: rallyPoint Maestro Watchdog
 RallyPoint 100 & 200 watchdog plugins for maestro
