[Unit]
Description=K3S
PartOf=pelion.target
After=pelion.target
Requires=edge-proxy.service docker.service
After=edge-proxy.service docker.service

[Service]
Restart=always
RestartSec=5s
ExecStart=/usr/bin/launch-k3s.sh

[Install]
WantedBy=pelion.target
