[Unit]
Description=K3S
PartOf=pelion.service
After=pelion.service
After=edge-proxy.service
After=docker.service

[Service]
Restart=always
RestartSec=5s
ExecStart=/usr/bin/launch-k3s.sh

[Install]
WantedBy=pelion.service
