[Unit]
Description=K3S
Requires=edge-proxy.service
After=edge-proxy.service

[Service]
Restart=always
RestartSec=5s
ExecStart=/usr/bin/launch-k3s.sh

[Install]
WantedBy=multi-user.target
