[Unit]
Description=Edge Core
PartOf=pelion.service
After=pelion.service

[Service]
Restart=always
RestartSec=5s
WorkingDirectory=/var/lib/pelion/mbed
ExecStart=/usr/bin/edge-core --http-port 9101

[Install]
WantedBy=pelion.service
