Source: pelion-edge-protocol-engine
Section: metapackages
Priority: optional
Maintainer: Olha Kulyk <olha.kulyk@globallogic.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://www.pelion.com

Package: pelion-edge-protocol-engine
Architecture: all
Depends: global-node-modules, mbed-edge-examples, mbed-edge-core-devmode | mbed-edge-core
Description: protocol-engine package group
 Combine global-node-modules mbed-edge-examples, mbed-edge-core
