Source: golang-virtual
Section: devel
Priority: optional
Maintainer: Krzysztof Bembnista <krzysztof.bembnista@globallogic.com>
Build-Depends: debhelper (>=9)
Standards-Version: 4.5.0.3

Package: golang-virtual
Architecture: all
Depends: golang-1.14-go
Provides: pe-golang
Description: Go compiler required for Pelion Edge compilation.
