Source: global-node-modules
Section: javascript
Priority: optional
Maintainer: Olha Kulyk <olha.kulyk@globallogic.com>
Build-Depends: debhelper (>=9), nodejs:native, libssl1.0-dev, libstdc++6, libudev-dev, npm:native, node-gyp:native
Standards-Version: 3.9.6
Homepage: https://www.pelion.com

Package: global-node-modules
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bash (>=4.0), nodejs
Description: modules which enriches the edge platform
 Modules use the devicejs bus
