#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE = 1

export CC=${DEB_HOST_GNU_TYPE}-gcc
export CXX=${DEB_HOST_GNU_TYPE}-g++
export PKG_CONFIG=${DEB_HOST_GNU_TYPE}-pkg-config

%:
	dh $@ --with systemd

override_dh_auto_build:
	./debian/npm_arch_rebuild.sh ${DEB_HOST_ARCH} --production

	rm -f rsmi/bin/cc2530prog-x86
	rm -f rsmi/bin/slipcomms-x86
	find -name .npmignore -delete
	find -name '.eslintrc*' -delete

override_dh_systemd_enable:
	dh_systemd_enable --name=pelion-relay-term pelion-relay-term.service

override_dh_systemd_start:
	dh_systemd_start --name=pelion-relay-term pelion-relay-term.service
