Source: pe-utils
Section: javascript
Priority: optional
Maintainer: Olha Kulyk  <olha.kulyk@globallogic.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://www.pelion.com

Package: pe-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bash (>=4.0), curl, jq, openssl
Description: pelion utilities
 Utilities and a light-weight programs for Pelion Edge
