Source: pe-utils
Section: utils
Priority: optional
Maintainer: Olha Kulyk  <olha.kulyk@globallogic.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://www.pelion.com/docs/device-management-edge/0.10/introduction/index.html

Package: pe-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nodejs, jq, curl
Description: utilities and a light-weight programs for Pelion Edge
