#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE = 1

%:
	dh $@ --with systemd

override_dh_systemd_enable:
	dh_systemd_enable --name=wait-for-pelion-identity wait-for-pelion-identity.service

override_dh_systemd_start:
	dh_systemd_start --name=wait-for-pelion-identity wait-for-pelion-identity.service

override_dh_auto_install:
	dh_auto_install
	install -D -m 755 debian/pelion.sh $(CURDIR)/debian/pe-utils/usr/bin/pelion
