[Unit]
Description=Wait for a connection to Pelion and create cridentials
Requires=edge-core.service
After=edge-core.service

[Service]
Restart=on-failure
RestartSec=5s
RemainAfterExit=true
ExecStart=/bin/bash -c "PATH=/usr/lib/pelion/developer_identity:$PATH exec /usr/bin/generate-identity.sh 9101 /var/lib/pelion/edge_gw_config"

[Install]
WantedBy=multi-user.target
