[Unit]
Description=Wait for a connection to Pelion and create cridentials
After=edge-core.service

[Service]
Restart=on-failure
RestartSec=5s
RemainAfterExit=true
ExecStart=/bin/bash -c "PATH=/wigwag/developer_identity/bin:$PATH exec /wigwag/system/bin/generate-identity.sh"

[Install]
WantedBy=network.target
