Source: edge-proxy
Section: utils
Priority: optional
Maintainer: Vasily Smirnov <vasilii.smirnov@globallogic.com>
Build-Depends: debhelper (>=9), golang-go:native (>=2:1.9~), libc6
Standards-Version: 3.9.6
Homepage: https://www.pelion.com

Package: edge-proxy
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: proxies for ssl
 Proxy for edge-core
