[Unit]
Description=Edge Proxy
After=wait-for-pelion-identity.service

[Service]
Restart=always
RestartSec=5s
ExecStart=/usr/bin/launch-edge-proxy.sh

[Install]
RequiredBy=network.target
