Source: wwrelay-utils
Section: utils
Priority: optional
Maintainer: Jennifer Plunkett <Jennifer.Plunkett@arm.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://www.pelion.com

Package: wwrelay-utils
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Utilities specific to the WigWag Relay hardware 
 Repository https://github.com/armPelionEdge/edge-utils
