[Unit]
Description=Edge Core
After=network-online.target

[Service]
Restart=always
RestartSec=5s
WorkingDirectory=/var/lib/edge/mbed
ExecStart=/usr/bin/edge-core --http-port 9101

[Install]
RequiredBy=multi-user.target
