[Unit]
Description=Edge Proxy
PartOf=pelion.service
After=pelion.service

[Service]
Restart=always
RestartSec=5s
ExecStart=/usr/bin/launch-edge-proxy.sh

[Install]
WantedBy=pelion.service
