[Unit]
Description=Edge Proxy
PartOf=pelion.target
After=pelion.target
Wants=edge-core.service

[Service]
Restart=always
RestartSec=5s
ExecStart=/usr/bin/launch-edge-proxy.sh

[Install]
WantedBy=pelion.target
