Source: pelion-edge-base
Section: metapackages
Priority: optional
Maintainer: Olha Kulyk <olha.kulyk@globallogic.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://www.pelion.com

Package: pelion-edge-base
Architecture: all
Depends: mbed-edge-core | mbed-edge-core-devmode, maestro, edge-proxy, global-node-modules
Description: base package group
 Combine mbed-edge-core, maestro, edge-proxy, global-node-modules
